// If you edit this file you need to compile the theme. See README.md for details.
// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-font-awesome: false;
$v-background-color: #ffffff;
$v-font-size: 14px;

@import "../valo/valo.scss";

//@import "views/editor";

@import "views/header";
@import "views/general";
@import "views/view";
@import "views/grids";
@import "views/botones";
@import "views/mobile";
@import "views/loader";

.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}

.ultraurgent{
  animation:ultraurgentblinkingText 1.2s infinite;
}
@keyframes ultraurgentblinkingText{
  0%{     background-color: #f27469;    }
  49%{    background-color: inherit; }
  60%{    background-color: inherit; }
  99%{    background-color: inherit;  }
  100%{   background-color: inherit;    }
}


@mixin mateu {
  @include valo;

  // Insert your own theme rules here


  .maincomponent {
    padding: 0px;
    background-color: #f9f8fa;

    @include general;
    @include header;
    @include view;
    @include grids;
    @include botones;
    @include mobile;

  }

  .menulateral {
    left:0px !important;
    border-radius: 0px !important;

    .v-window-outerheader {
      display: none;
    }
  }

  @include loader;

}



