
oj-c-list-view:not(.oj-complete){
  visibility: hidden;
}

oj-c-list-view {
  display: block;
  overflow: auto;
  box-sizing: border-box;
}

oj-c-list-view[hidden]
{
  display: none;
}

oj-c-list-view:last-child
{
  overflow-anchor: none;
}