// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


$blanco: #ffffff; //#f5f6f7;
$kpi: #7b7e80;
$izquierda: #ececec;
$cabecera: #778b9d;
$masoscuro: #526d85;

$v-background-color: $blanco;
$v-font-size: 14px;


@import "../valo/valo.scss";

@import "views/editor.scss";

body {
  /* zoom: 0.66; */
}


@mixin mytheme {
  @include valo;

  // Insert your own theme rules here

  // customized spinner
  .v-app-loading::before {
    width: 200px;
    height: 200px;
    background: url(img/Spinner-1s-141px.gif) no-repeat 50%;
  }

  .mobileapp {
    padding: 0px;

    .componentwrapper {
      padding: 10px;

      .section {
        padding: 0px;
        max-width: 100%;
      }

      .filterscomponent {
        padding: 0px;
      }

    }

    .publicmenuflowcomponent, .privatemenuflowcomponent {
      text-align: center;
      .areabutton {
        margin-left: inherit;
      }
      .huge-wrap {
        height: 51px;
        padding: 0 22px;

        .v-icon {
          font-size: 60px;
        }
        .huge-caption {
          display: block;
          text-align: center;
          font-size: 14px;
        }


        font-size: 23px;

        border-radius: 4px;
      }
    }

    .areaflowcomponent, .moduleflowcomponent, .menuflowcomponent, .welcomeflowcomponent, .byeflowcomponent {
      text-align: center;
      width: 100%;

      .submenupanel {
        margin-right: inherit;
        padding: inherit;
      }

      .submenulayout {
        text-align:  center;
        padding: inherit;
      }
    }

    .logincomponent {
      width: 100%;
      text-align: center;

      .v-slot-submenuoption {
        text-align: center;
      }
    }

    .loginilayoutizda, .loginilayoutdcha {
      text-align: center;
      
      .v-caption {
        text-align: center;
      }
    }

    .loginilayoutdcha {
      padding-left: inherit;
      border-left: inherit;
      
    }

    .combo.v-filterselect {
      width: 100%;
    }


  }

  .miapp {

      width: 100%;
      height: 100%;
      padding: 0px !important;


    input, .v-datefield, .v-datefield-textfield, .v-filterselect, .v-filterselect-input, .v-filterselect-button, .v-textarea {
      background-color: #ececec;
      border: none;
    }


    .cockpit {

      .filtro {
        width: 330px;
      }

      .parametros {
        //padding-left: 24px !important;
      }

      .parametros.a {
          padding-left: 195px !important;
      }

      .contenido {

      }

      .detalle {

      }
    }


        .appheader {
          width: 100%;
          height: 50px;
          background-color: $cabecera;
          padding: 8px;
          vertical-align: center;

          color: white;

          .burguer {
            color: white;
            display: none;
            margin-top: 7px;
          }

          .tabs {
            color: white;
          }

          .navigate {
            color: white;
          }

          .apptitle {
            width: 200px;
            font-weight: bold;
            text-decoration: none;
            color: white;
          }



          .signingbutton {
            text-decoration: none;
            color: white;
            cursor: pointer;
            width: 100%;
            text-align: center;
          }

          .signingbutton.selected {
            background-color: $v-background-color;
            border-left: 1px solid lightgrey;
            border-top: 1px solid lightgrey;
            border-bottom: 1px solid lightgrey;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            margin-left: 5px;
            font-weight: bold;
            border-right: none;
          }

          .signingbutton.selected:hover {
            background-color: $v-background-color;
          }

          .signingbutton:hover {
            background-color: red;
          }

          .greeting {
            margin-top: 7px;
          }

          .greeting:active {
            outline: none;
          }

          .greeting:focus {
            outline: none;
          }

          .greeting.v-pressed {
            outline: none;
          }


        }

    .publicmenuflowcomponent, .privatemenuflowcomponent {
      .areabutton {
        margin-left: -15px;
      }
      .huge-wrap {
        height: 51px;
        padding: 0 22px;

        .v-icon {
          font-size: 60px;
        }
        .huge-caption {
          display: block;
          text-align: center;
          font-size: 14px;
        }


        font-size: 23px;

        border-radius: 4px;
      }

    }

    .v-button.quiet {
      border: none;
      background-image: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-shadow: none;
    }

    .v-button.quiet:hover {
      background-color: lightgray;
    }

    .v-button.quiet:focus:after {
      box-shadow: none;
    }

    .leftside {

          background-color: $izquierda;
          width: 210px;
          height: 100%;
          padding:  0px;

      .botonampliar {
        cursor: pointer;
        margin-left: 2px;
      }

      .botonminimizar {
        cursor: pointer;
      }

          .appTitle {

            width: 200px;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;

            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

            padding: 0px;
            cursor: pointer;

            text-decoration: none;

            outline: none !important;
            box-shadow: none !important;
            box-sizing: inherit;

          }

          .appTitle:hover {
            color: $masoscuro !important;
          }


          .appTitle:active {
            outline: none;
          }

          .appTitle:focus {
            outline: none;
          }


          .appTitle.v-pressed {
            outline: none;
            outline-color: inherit;
            outline-style: inherit;

            .v-button-wrap {
              outline: none;
              outline-color: inherit;
              outline-style: inherit;

              .v-button-caption {
                outline: none;
                outline-color: inherit;
                outline-style: inherit;
              }

            }
          }


          .sesion {
            padding: 0px;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;

            .foto {
              padding: 0px;
              width: 120px;
              height: 120px;
              border-radius: 50%;
              border: 3px solid transparent;
              cursor: pointer;
              margin-left: 10px;
            }

            .v-slot-foto {
              .v-captiontext {
                text-align: center;
                width: 100%;
              }
            }

            .foto:hover {
              border-color: whitesmoke;
            }


            .signingbutton {
              text-decoration: none;
              cursor: pointer;
              width: 100%;
              text-align: center;
              padding-top: 5px;
              padding-bottom: 5px;
            }

            .signingbutton.selected {
              background-color: $v-background-color;
              border-left: 1px solid lightgrey;
              border-top: 1px solid lightgrey;
              border-bottom: 1px solid lightgrey;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              margin-left: 5px;
              font-weight: bold;
              border-right: none;
            }

            .signingbutton:hover {
              background-color: #73a5d7;
            }

            .signingbutton.selected:hover {
              background-color: $v-background-color;
            }

            .signingbutton:active {
              outline: none;
            }

            .signingbutton:focus {
              outline: none;
            }

            .signingbutton.v-pressed {
              outline: none;
            }

          }



          .navegacion {

            width: 100%;
            padding: 0px;

            > .v-slot {
              border-right: 1px solid lightgrey;
            }


            .tituloarea {
              padding: 10px;
              width: 100%;
              font-size: 14px;
              font-weight: bold;
              text-align: center;
              cursor: pointer;
              border-right: 1px solid lightgray;
              border-top: 2px dashed #929292;
              border-bottom: 2px dashed #929292;

              a {
                text-decoration: none;
                color: #191919 !important;
              }

            }

            .area-1 {
              background-color: slategrey;
            }

            .area-1:hover {
              background-color: #73a5d7;
            }

            .area-2 {
              background-color: lightyellow;
            }

            .area-2:hover {
              background-color: #73a5d7;
            }

            .area-3 {
              background-color: lightcoral;
            }

            .area-3:hover {
              background-color: #73a5d7;
            }


            .area-4 {
              background-color: lightblue;
            }

            .area-4:hover {
              background-color: #73a5d7;
            }


            .area-5 {
              background-color: lightgreen;
            }

            .area-5:hover {
              background-color: #73a5d7;
            }


            .area-6 {
              background-color: lightpink;
            }

            .area-6:hover {
              background-color: #73a5d7;
            }


            .area-7 {
              background-color: lightseagreen;
            }

            .area-7:hover {
              background-color: #73a5d7;
            }


            .area-8 {
              background-color: lightcyan;
            }

            .area-8:hover {
              background-color: #73a5d7;
            }


            .area-9 {
              background-color: sandybrown;
            }

            .area-9:hover {
              background-color: #73a5d7;
            }


            .area-10 {
              background-color: indianred;
            }

            .area-10:hover {
              background-color: #73a5d7;
            }

            .v-slot-tituloarea {
              border-right: none;
            }

            .v-slot-tituloarea.v-slot-selected:hover {
              background-color: $v-background-color;
            }

            .tituloarea.selected {
              background-color: $v-background-color;
              border-left: 1px solid lightgrey;
              border-top: 1px solid lightgrey;
              border-bottom: 1px solid lightgrey;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              margin-left: 5px;
              font-weight: bold;
              border-right: none;
            }



            .tituloarea:active {
              outline: none;
            }

            .tituloarea:focus {
              outline: none;
            }

            .tituloarea.v-pressed {
              outline: none;
            }


            .v-slot-tituloarea:hover {
              background-color: #73a5d7;
            }


            .v-slot-titulomodulo {
              padding-top: 20px;
            }

            .titulomodulo {
              padding: 10px 10px 3px 10px;
              width: 100%;
              font-weight: bold;
              border-bottom: 1px solid slategray;
              margin-bottom: 5px;
            }



            .opcionmenu {

              width: 100%;
              padding: 3px 10px 3px 10px;
              cursor: pointer;

              a {
                text-decoration: none;
                color: #191919 !important;
              }

            }

            .opcionmenu.selected {
              background-color: $v-background-color;
              border-left: 1px solid lightgrey;
              border-top: 1px solid lightgrey;
              border-bottom: 1px solid lightgrey;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              margin-left: 5px;
              font-weight: bold;

                .menu-badge {
                  display: none;
                }
              }


            .v-slot-opcionmenu:hover {
              background-color: #73a5d7;
            }

            .v-slot-opcionmenu.v-slot-selected:hover {
              background-color: $v-background-color;
            }


            .opcionmenu:active {
              outline: none;
            }

            .opcionmenu:focus {
              outline: none;
            }

            .opcionmenu.v-pressed {
              outline: none;
            }



            .espaciobotonbuscar {
              height: 30px;
            }


            .botonbuscar {

              width: 100%;
              padding: 3px 10px 3px 10px;
              cursor: pointer;
              text-align: center;

              a {
                text-decoration: none;
                color: #191919 !important;
              }

            }
            
            .botonbuscar.selected {
              background-color: $v-background-color;
              margin-left: 5px;
              border-left: 1px solid lightgray;
              border-top: 1px solid lightgray;
              border-bottom: 1px solid lightgray;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              border-right: none;
            }

            .v-slot-botonbuscar:hover {
              background-color: #73a5d7;
            }

            .v-slot-botonbuscar.v-slot-selected:hover {
              background-color: $v-background-color;
            }

            .botonbuscar:active {
              outline: none;
            }

            .botonbuscar:focus {
              outline: none;
            }

            .botonbuscar.v-pressed {
              outline: none;
            }

          }


        }


    .leftside {
      transition: width 0.3s ease;
    }

    .leftside.minimizada {
      width: 3px;
    }

    .v-slot-contenedorizda {
      height: 100%;

      .contenedorizda {
        width: 100%;
        height: 100%;

        .full {

          .conborde {
            border-right: 1px solid lightgrey;
          }

          .v-absolutelayout-wrapper-full {
            height: 100%;

            .v-verticallayout {
              height: 100%;


            }
          }

        }

        >div {
          width: 100%;
          height: 100%;

          >.v-absolutelayout-margin {
            width: 100%;
            height: 100%;
          }

        }

      }

    }


      .center {

      }


    .v-widget {
      .nopadding {
        padding: 0px;
      }


      .labelconlink {
        margin-top: 7px;
      }

      .botondeicono {
        padding: 0px;
        height: inherit;
        opacity: 1;
      }
    }




    .viewcontainer {
      .nopadding {
        padding: 0px;

        .checkboxcontainer {
          //padding-top: 8px;
        }
      }
    }

    .methodresultflowcomponent {
      .nopadding {
        padding: 0px;

        .checkboxcontainer {
          padding-top: 8px;
        }
      }
    }

    .checkboxcontainer {
      //padding-top: 8px;
    }

    .embedded {
      padding: 0px;

      table tbody tr td {
        padding-top: 0px;
        padding-bottom: 7px;
      }

    }

    .sum {
      padding: 5px 19px;
      background-color: $cabecera;
      font-weight: bold;
      color: white;
      border-radius: 3px;
    }

    .searchinmenucomponent {

      .contentcontainer {
        padding: 0px;
        margin-top: 30px;

        .listaopcionesmenu {
          padding: 0px;
        }

        .submenu {
          padding: 0px;
        }

        .contenedorsubmenu {
          padding: 0px;
        }

        .contenedor {
          padding: 0px;
        }

      }

    }
    .accionsubmenu:hover {
      color: red;
    }


    table.onetomanytable {

      .numeric {
        text-align: right;
      }

      td, th {
        padding: 5px;
      }

      thead {
        th {
          font-weight: normal;
          border-bottom: 1px solid grey;
        }
      }

      tfoot {
        th {
          border-top: 1px solid grey;
        }
      }

    }

    .clickable {
      cursor: pointer;
    }

    .clickable:hover {
      opacity: 0.5;
    }

  }

  .miapp[width-range~="0-800px"] {

        .appheader {
          .burguer {
            display: block;
          }

          .tabs {
            display: none;
          }

          .navigate {
            display: none;
          }

        }


    .loginilayoutdcha {
      border-left: inherit;
      padding-left: inherit;
      margin-left: inherit;
    }

    .v-slot-leftside {
      position:relative;
      float: left;

        /* display: none; */

      width: 20px;

      }

  }

  .miapp[width-range~="0-800px"].menuvisible {

    .v-slot-leftside {
      display: block;
    }

  }

  .viewHeader {
    margin-top: -15px;
    padding: 0px;

    .viewTitle {
      font-size: 2em;
    }

    .viewIcon {
      font-size: 2em;
      color: grey;
    }

  }



  .v-layout {

    .submenuoption {
      color: #197de1;
      text-decoration: none;
      cursor: pointer;
    }

    .submenuoption:hover {
      color: red;
    }

    .submenuoption:active {
      outline: none;
    }

    .submenuoption:focus {
      outline: none;
    }

    .submenuoption.v-pressed {
      outline: none;
    }

  }


  .miformlayout .v-slot-sectionHeader .v-label.v-label-sectionHeader {
    margin-top: 0px !important;
  }

  .v-slot .v-slot-hidden {
    height: 0px !important;
  }

  .panelContenidoConKpi {
    min-width: 460px;
    //width: calc(100% - 180px);
  }

  .botoneracollection {
    padding-top: 66px !important;
    margin-right: 20px;
  }

  .kpisContainer {
    //margin-left: 30px;
    //margin-top: 30px;
    //width: 150px;
    margin-left: 30px;
    .v-spacing {
      height: 4px;
    }
  }

  .kpi {
    padding: 2px 9px;

    background-color: #e0e4e8;
    color: inherit;

    //background-color: $kpi;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: -2px;
    //min-height: 62px;
    //width: 100%;
    height: 50px;
    //color: whitesmoke;

    .valor {
      white-space: normal;
      font-size: 1.2em;
      font-weight: bold;
      width: 100%;
      text-align: right;
      background-color: inherit !important;
    }

    /*
    .valor.positivo {
      color: #93f382 !important;
    }

    .valor.negativo {
      color: #f38282 !important;
    }

    .valor.v-label-friendly {
      color: #93f382 !important;
    }

    .valor.v-label-danger {
      color: #f38282 !important;
    }
     */

    .v-label-centered {
      text-align: center;
    }

    .v-spacing {
      display: none;
    }

  }

  .kpi.sectionkpi {
    width: inherit;
    background-color: #e0e4e8;
    color: inherit;
    min-height: 62px;

  }


  .superkpi {
    padding: 20px;
    background-color: $kpi;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 7px;
    height: 160px;
    width: 100%;
    text-align: center;

    .valor {
      font-size: 2.5em;
      font-weight: bold;
      width: 100%;
      text-align: center;
      background-color: inherit !important;
    }

    .v-label-centered {
      text-align: center;
    }

  }

  .section {
    margin-right: 50px;
    max-width: 500px;
    min-width: 500px;
  }

  .section-fullwidth {
    margin-right: inherit !important;
    max-width: inherit !important;
  }

  .sectioncard {
    background-color: white;
    border: 1px grey solid;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .fieldgroup {
    padding: 10px;
    min-width: 525px;

    .fieldgroupheader {
      width: 100%;
      border-bottom: 1px dashed lightgrey;
      //font-weight: bold;
      color: gray;
    }

  }

  .listsummaryline {
    margin-top: 20px;
    font-style: italic;
  }



  .v-widget {
    .miformlayout {
      margin-bottom: 20px;

      > .v-spacing {
        height: 20px;
      }
    }
  }

  .hidden {
    display: none;
  }


  .logincomponent {
    padding: 0px;
  }

  .backlink {
    font-size: 1.7em;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
  }

  .buttonlink {
    font-size: 1.7em;

    .v-icon {
      margin-top: -10px;
    }

  }

  .viewcomponent {
    padding: 0px;
  }

  .crudviewcomponent {
    padding: 0px;
  }

  .resultsmessage {
    /* margin-top: 40px; */
  }

  .resultscomponent {
    padding: 0px;
  }

  .filtersflowcomponent {
    padding: 0px;
  }

  .submenupanel {
    padding: 0px;
    margin-right: 70px;
  }

  .submenulayout {
    padding: 0px;
  }


  .loginilayoutizda {
    min-width: 300px;
    padding: 0px;
  }

  .loginilayoutdcha {
    min-width: 300px;
    border-left: 1px solid grey;
    padding: 0px;
    padding-left: 60px;
    /* margin-left: 60px; */
  }



  .filterscomponent {

    border-top: 1px dashed lightgrey;
    border-bottom: 1px dashed lightgrey;
    padding-bottom: 10px !important;
    width: 100%;

    > * {
      margin-right: 20px;
    }

    .v-caption {
      margin-right: 10px;
    }

    .v-button {
      margin-right: 5px;
    }

  }

  .menu-badge {
    width: 20px;
    /* background-color: orange; */
    border-radius: 2px;
    float: right;
    text-align: center;
  }


  .viewHeader {
    /* margin-bottom: 40px; */
  }

  .filterscomponent {
    /* margin-bottom: 40px; */
  }

  .applicationactions {
    padding: 0px;
  }

  .actionsbar {
    padding: 0px;
    padding-top: 2px !important;
    width: 100%;
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;


    div {
      margin-bottom: 2px;
      margin-right: 6px;
    }
  }

  .v-menubar.actionsbar {

    border: none;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    .v-menubar-menuitem {
      border: none;
      margin-right: 5px;

/*
      background-color: lightgray;
      border-radius: 5px;
*/

      border-radius: 4px;
      border: 1px solid #c5c5c5;
      border-top-color: #c5c5c5;
      border-bottom-color: #bcbcbc;
      background-color: $v-background-color;
      background-image: -webkit-linear-gradient(top, $v-background-color 2%, #efefef 98%);
      background-image: linear-gradient(to bottom, $v-background-color 2%, #efefef 98%);
      -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
    }


    /*
    .v-menubar-menuitem:hover {
      background-color: gray;
    }
    */

  }

  .actionscontainer {
    .actionsbar {
      display:block;
    }
  }

  .signinbutton {
    img {
      width: 30px;
      margin-top: -4px;
    }
  }

  .viewcontainer {
    padding: 20px;
    //padding-top: 20px;
  }


  .actionparametersflowcomponent, .methodresultflowcomponent {
    padding: 0px;

    .editorviewcomponent {
      padding: 0px;

      .contentcontainer {
        padding: 0px;
      }
    }
  }



  .flowcomponent {

    padding: 0px;



    .areaflowcomponent {
      padding: 0px;
    }

    .editorflowcomponent {
      padding: 0px;



      .editorviewcomponent {
        padding: 0px;

        .contentcontainer {
          padding: 0px;
        }

      }

    }

    .filtersflowcomponent {
      padding: 0px;

        .contentcontainer {
          padding: 0px;
        }

    }

    .menuflowcomponent {
      padding: 0px;
    }

    .moduleflowcomponent {
      padding: 0px;
    }
    .privatemenuflowcomponent {
      padding: 0px;
      .huge-wrap {
        height: 51px;
        padding: 0 22px;

        .v-icon {
          font-size: 60px;
        }
        .huge-caption {
          display: block;
          text-align: center;
          font-size: 14px;
        }


        font-size: 23px;

        border-radius: 4px;
      }

    }
    .publicmenuflowcomponent {
      padding: 0px;
      .huge-wrap {
        height: 51px;
        padding: 0 22px;

        .v-icon {
          font-size: 60px;
        }
        .huge-caption {
          display: block;
          text-align: center;
          font-size: 14px;
        }

        font-size: 23px;

        border-radius: 4px;
      }

    }

    .viewflowcomponent {
      padding: 0px;


      .listviewcomponent {
        padding: 0px;

        .filterscomponent {
          padding: 0px;

          .contentcontainer {
            padding: 0px;
          }

        }

        .resultscomponent {
          padding: 0px;

        }

      }

    }


  }



  .flowwrapperpanel {

    .v-panel-content {

      padding: 0px;

      .v-verticallayout {

        padding: 0px;

      }

    }
  }

  .collectionlinklabel {
    //margin-top: 6px;
    //margin-bottom: 10px;
  }

  .green {
    background-color: green !important;
  }



  .positivo {
    color: green !important;
  }

  .negativo {
    color: red !important;
  }


  .mdd-bold {
    font-weight: bold !important;
  }

  .mdd-bolder {
    font-weight: bold !important;
  }

  .mdd-seagreen-bgd {
    background-color: seagreen !important;
  }

  .mdd-green-bgd {
    background-color: green !important;
  }

  .mdd-softgreen-bgd {
    background-color: #a0c5a0 !important;
  }

  .mdd-softred-bgd {
    background-color: #dea7a3 !important;
  }

  .mdd-softyellow-bgd {
    background-color: #ffffcc !important;
  }

  .mdd-orange-bgd {
    background-color: orange !important;
  }

  .mdd-red-bgd {
    background-color: red !important;
  }

  .mdd-yellow-bgd {
    background-color: yellow !important;
  }

  .mdd-brown-bgd {
    background-color: brown !important;
  }

  .mdd-grey-bgd {
    background-color: grey !important;
  }

  .mdd-lightgrey-bgd {
    background-color: lightgrey !important;
  }

  .mdd-aliceblue-bgd {
    background-color: aliceblue !important;
  }

  .mdd-lightsteelblue-bgd {
    background-color: lightsteelblue !important;
  }

  .mdd-white-bgd {
    background-color: white !important;
  }

  .mdd-blue-bgd {
    background-color: blue !important;
  }


  .mdd-seagreen-fgd {
    color: seagreen !important;
  }

  .mdd-green-fgd {
    color: green !important;
  }

  .mdd-orange-fgd {
    color: orange !important;
  }

  .mdd-red-fgd {
    color: red !important;
  }

  .mdd-yellow-fgd {
    color: yellow !important;
  }

  .mdd-brown-fgd {
    color: brown !important;
  }

  .mdd-grey-fgd {
    color: grey !important;
  }

  .mdd-white-fgd {
    color: white !important;
  }

  .mdd-blue-fgd {
    color: blue !important;
  }


  .total {
    font-weight: bold;
  }


  [class*="margin-top"] > tbody > [class*="firstrow"] > td {
    padding-top: 0px;
  }



  .success {
    background-color: #b2f0ab !important;
  }

  .info {
    background-color: #9df7e8 !important;
  }

  .warning {
    background-color: #fcfa7c !important;
  }

  .danger {
    background-color: #f27469 !important;
  }


  .cell-void {
    border-right: 10px solid transparent !important;
  }

  .cell-valid {
    border-right: 10px solid darkseagreen !important;
  }

  .cell-warning {
    border-right: 10px solid orange !important;
  }

  .cell-invalid {
    border-right: 10px solid red !important;
  }




  .alinearderecha {
    text-align: right;
    width: 100%;
  }

  .v-slot-actionsbar {
    //margin-bottom: 20px;
  }


  .rowyes {
    position:relative;
    text-align: center;
  }

  .rowyes:before {
    font-family: FontAwesome;
    top:0;
    /*
    left:-5px;
    padding-right:10px;
    */
    content: "\f00c";
  }

  .rowno {
    position:relative;
    text-align: center;
    color: lightgrey;
  }

  .rowno:before {
    font-family: FontAwesome;
    top:0;
    /*
    left:-5px;
    padding-right:10px;
    */
    content: "\f00d";
  }






  .sale {
    position:relative;
    text-align: center;
    color: green;
  }

  .sale:before {
    font-family: FontAwesome;
    top:0;
    /*
    left:-5px;
    padding-right:10px;
    */
    content: "\f153";
  }


  .purchase {
    position:relative;
    text-align: center;
    color: brown;
  }

  .purchase:before {
    font-family: FontAwesome;
    top:0;
    /*
    left:-5px;
    padding-right:10px;
    */
    content: "\f07a";
  }



  .v-tabsheet-content {
    margin-top: 20px;
  }

  .botonerafiltros {

    vertical-align: bottom;

    .v-button {
      font-size: 1.4em;
      color: grey;

      .v-icon {
        margin-top: inherit;
      }
    }

    .v-button:hover {
      color: inherit;
    }

    .principal {
      color: #197de1;
    }

  }

  .contentcontainer {
    //overflow: initial;
  }



  .chip {
    background-color: lightgray;
    border-radius: 1.5em;
    padding-left: 1em;
    margin: 1px;
    margin-right: 4px;

    .v-label {
      padding-top: 4px;
    }

    .v-button {
      border-radius: 1.5em;
      width: 2em;
      padding-left: 8px;
      height: 2em;
      padding-top: 3px;
    }
  }


  .audit {
    white-space: inherit;
  }





  .v-label-danger {
    color: darkred;
  }

  .v-label-friendly {
    color: darkgreen;
  }

  .v-label-primary {
    color: blue;
  }

  .v-label-centered {
    text-align: center;
  }


























  .o-closed {
    background-color: #ef786f !important;
  }

  .o-partial {
    background-color: #fea65d !important;
  }

  .o-open {
    background-color: #a5bfa5 !important;
  }

  .o-closed.o-weekend {
    background-color: #da1616 !important;
  }

  .o-partial.o-weekend {
    background-color: #d18100 !important;
  }

  .o-open.o-weekend {
    background-color: #80af82 !important;
  }

  .o-today {
    border-top: 3px solid black !important;
    border-bottom: 3px solid black !important;
  }





  .dia {
    width: 30px;
    height: 30px;
    padding-top: 6px;
    text-align: center;

    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
  }

  .dia .v-label {
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
  }

  .dia.v-csslayout-drag-center {
    background-color: lightgrey;
  }

  .dia.seleccionado {
    border: 1px solid blue;
  }

  .semana .v-spacing {
    width: 1px;
  }


  .random-0 {
    background-color: #c2ccbd;
  }
  .random-1 {
    background-color: #879182;
  }
  .random-2 {
    background-color: #d6ddd2;
  }
  .random-3 {
    background-color: #ede9d5;
  }
  .random-4 {
    background-color: #d8d7d0;
  }
  .random-5 {
    background-color: #f7f1c5;
  }
  .random-6 {
    background-color: #f4d8cd;
  }
  .random-7 {
    background-color: #dbac99;
  }
  .random-8 {
    background-color: #c9e2e8;
  }
  .random-9 {
    background-color: #abc9d1;
  }
  .random-10 {
    background-color: #dcf1f7;
  }
  .random-11 {
    background-color: #bab1c9;
  }
  .random-12 {
    background-color: #dacbf2;
  }
  .random-13 {
    background-color: #dfdce5;
  }
  .random-14 {
    background-color: #f9dbf4;
  }
  .random-15 {
    background-color: #d1b1cb;
  }
  .random-16 {
    background-color: #d6c5d2;
  }
  .random-17 {
    background-color: #f2d0d8;
  }
  .random-18 {
    background-color: #a57f88;
  }
  .random-19 {
    background-color: #c4cec8;
  }
  .random-20 {
    background-color: #93a59a;
  }
  .random-21 {
    background-color: #83af95;
  }
  .random-22 {
    background-color: #c3ccc7;
  }
  .random-23 {
    background-color: #d8d7c5;
  }
  .random-24 {
    background-color: #f7f5d7;
  }
  .random-25 {
    background-color: #cec765;
  }
  .random-26 {
    background-color: #8c8170;
  }
  .random-27 {
    background-color: #ceba9a;
  }
  .random-28 {
    background-color: #f9d8a2;
  }
  .random-29 {
    background-color: #f4a422;
  }
  .random-30 {
    background-color: #b57001;
  }






  .cancelled {
    text-decoration: line-through;
  }





  .celdacalendario {

    padding: 0px;

    button {
      border: none;
      cursor: pointer;
      width: 100%;
      height: 100%;
      vertical-align: unset;
      background-color: transparent;
    }

    button:active {
      outline: none;
    }

    button:focus {
      outline: none;
    }

  }




  .combo.v-filterselect {
    width: 370px;
  }



  .outputlabel {
    white-space: normal;
    /* max-width: 300px; */
  }






  .navegadorcalendario {
    .titulo {
      width: 275px;
      padding-top: 6px;
      text-align: center;
    }
  }

  .calendariocupoocierres {

    .formulario {
      padding: 5px;
      border-radius: 5px;
      background-color: lightgray;
    }

    .panelcalendario {
      overflow: auto !important;
      height: 100%;
    }

  }


  .calendariocupo {

    width: 100%;

    .mes.weekly {
      border: 1px solid darkslateblue;
      background-color: white;
      padding: 0px;
      width: 645px;

      zoom: 0.6;


      .titulo {
        text-align: center;
        width: 100%;
        border-bottom: 2px solid darkmagenta;
      }


      .semana {
        height: 78px;
        padding: 0px;
        border-bottom: 1px solid darkolivegreen;

        .dia {

          cursor: pointer;

          padding: 0px;
          width: 90px;

          .v-spacing {
            height: 0px;
          }


          .titulo {
            text-align: center;
            width: 100%;
            border-bottom: 1px solid darkolivegreen;
          }

          .infoCupo {

            padding: 0px;
            width: 100%;


            .v-slot.v-slot-cierre {
              width: 91px;
              height: 54px;
            }

            .cierre {
              width: 100%;
              height: 100%;
              background-color: darkseagreen;

              font-size: 30px;
              font-weight: bold;
              color: black;
              text-align: center;
              padding-top: 4px;
            }

            .cierre.cerrado {
              background-color: indianred;
            }

            .cierre.cierreparcial {
              color: aliceblue;
            }



            .desviado {
              font-size: 12px;
              float: left;
              position: relative;
              left: -90px;
              top: 37px;
            }

            .v-slot-disponible {

              width: 55px;
              height: 54px;


              .disponible {

                padding: 0px;
                font-size: 30px;
                font-weight: bold;
                color: black;
                width: 100%;
                text-align: center;
                padding-top: 4px;
                height: 100%;
              }

              .disponible.cerrado {
                background-color: indianred;
              }

            }

            .v-slot-dcha {

              width: 35px;

              .dcha {

                padding: 0px;
                width: 100%;
                border-left: 1px dotted red;

                .contratado {
                  padding: 0px;
                  background-color: lightcyan;
                  color: black;
                  width: 100%;
                  text-align: center;
                  height: 27px;
                }

                .v-spacing {
                  height: 1px;
                }

                .vendido {
                  padding: 0px;
                  background-color: lightblue;
                  color: black;
                  width: 100%;
                  text-align: center;
                  height: 26px;
                }

              }


            }

          }

        }

        .dia:hover {
          opacity: 0.5;
        }

        .v-slot-notfirst {
          border-left: 1px solid darkolivegreen;
        }

        .v-slot-last {
          border-right: 1px solid darkolivegreen;

          .infoCupo {

            .v-slot-dcha {
              width: 34px;
            }

          }
        }

      }


    }

    .mes.monthly {

      padding: 0px;

      .v-spacing {
        height: 1px;
      }

      .titulo {
        margin-top: 20px;
      }

      .fila {

        border: 1px solid transparent;

        .titulo {
          margin-top: inherit;
        }

        .dia {
          width: 20px;
        }

        .dia.finde {
          border-bottom: 1px solid darkred;
        }

        .dia.domingo {
          border-right: 1px solid darkgray;
        }

      }

      .fila:hover {
        border: 1px solid darkgray;
      }

      .fila.calendario {
        /* background-color: lightcoral; */
      }

      .fila.contratado {
        background-color: #B9D4BE;
      }

      .fila.derivado {
        background-color: #B9D4CC;
      }

      .fila.disponible {
        background-color: #B9C1D4;
      }

      .fila.reservado {
        background-color: #D4B9CE;
      }

      .fila.reservadoagencia {
        background-color: #D4BEB9;
      }

    }
  }






  .condicionescontratopreview {
    .numero {
      text-align: center;

      td {
        width: 60px;
      }
    }

    .calendarioprecios {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;

      .mes {
        padding: 2px;

        .cabecerames td {
          text-align: center;
        }

        .semana td {
          min-width: 24px;
        }

      }

    }
  }


  .v-select-optiongroup.weekdaysinlineeditor {
    span {
      margin: 0px;
    }

    label {
      /* display: none; */
    }
  }


  .collectionlinklabel {

    padding: 0px;
    white-space: normal;

    .lines {
      .line {

      }
    }

    .lines.card {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .line {
        padding: 10px;
        border: 1px solid lightgrey;
      }
    }

  }

  .huge-submenuoption {
    border: 1px solid lightgrey;
    margin: 20px;
    padding: 20px;
    border-radius: 2px;
  }

  .huge-submenuoption:hover {
    background-color: #efefef
  }

  .homecard {
    padding: 30px;
    border: 1px solid lightgrey;
    margin: 30px;
    min-width: 200px;
    text-align: center;
    border-radius: 3px;

    .kpi {
      font-size: 48px;
      font-weight: bold;
      background-color: white;
    }
  }


  .bookingsummary {
    thead {
      th {
        border-bottom: 1px solid lightgrey;
        font-weight: normal;
      }
    }
    tfoot {
      th {
        border-top: 1px solid lightgrey;
        font-weight: normal;
      }
    }
  }

  .fileicon {
    font-size: 50px;
    color: lightgrey;
  }

  .actiongroupwindow {
    min-width: 400px !important;
    min-height: 400px !important;
    padding: 20px;

    .v-button {
      margin: 10px;
    }

    .v-button.quiet {
      border: none;
      background-image: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-shadow: none;
    }

    .v-button.quiet:hover {
      background-color: lightgray;
    }

    .v-button.quiet:focus:after {
      box-shadow: none;
    }

  }

  .contenedorbotoneracampo {
    .v-spacing {
      height: 7px;
      border-left: 1px dotted lightgrey;
    }
    .botoneracampo {
      border: 1px dotted lightgrey;
    }
  }

  .gridresultado {

    .v-grid-header-deco {
      background-image: none;
      border-top: none;
      border-right: none;
    }

    .v-grid-header {
      .v-grid-cell {
        background-color: white;
        background-image: none;
        font-style: italic;
      }
      .v-grid-row {
        th {
          border-left: none;
        }
      }
    }
    .v-grid-row {
      td {
        border-left: none;
      }
    }
    .v-grid-row-selected {
      .v-grid-cell {
        background-image: none;
        font-weight: bold;
        color: #eec9c9 !important;
      }
    }

    .v-grid-cell-focused:before {
      border: none;
    }

    .v-grid-row:hover, .v-grid-row-selected:hover {
      td {
        background-color: red !important;
        color: white !important;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .v-grid-cell.frozen {
      border-right: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    .v-grid-tablewrapper {
      border: none;
    }

    .v-grid-horizontal-scrollbar-deco {
      background-image: none;
      border: none;
    }

    .v-grid-scroller-horizontal {
      border: none;
    }

    .v-grid-scroller-vertical {
      border: none;
    }

    .v-grid-footer-deco {
      border: none;
    }
  }

  .gridresultado.readonly {
    .v-grid-row:hover {
      td {
        background-color: inherit !important;
        color: inherit !important;
        font-weight: inherit !important;
        cursor: inherit !important;
      }
    }
    .v-grid-cell.rowno {
      color: inherit !important;
    }
    .v-grid-row-stripe:hover {
      td {
        background-color: #f5f5f5 !important;
        color: inherit !important;
        font-weight: inherit !important;
        cursor: inherit !important;
      }
    }
    .v-grid-row-selected:hover {
      td {
        background-color: #e61a1a !important;
        color: #eec9c9 !important;
        font-weight: bold !important;
        cursor: inherit !important;
      }
    }

  }

  .gridonetomany {

    .v-grid-row-stripe {
      td {
        background-color: inherit;
      }
    }

    .v-grid-header {
      .v-grid-cell {
        background-color: white;
        background-image: none;
        font-style: italic;
      }
      .v-grid-row {
        th {
          border-left: none;
        }
      }
    }
    .v-grid-row {
      td {
        border-left: none;
      }
    }
    .v-grid-row-stripe.v-grid-row-selected {
      td {
        background-color: #e61a1a !important;
        color: #eec9c9 !important;
      }
    }
    .v-grid-row-selected {
      .v-grid-cell {
        background-image: none;
        font-weight: bold;
        color: #eec9c9 !important;
      }
    }

    .v-grid-cell-focused:before {
      border: none;
    }

    .v-grid-row:hover, .v-grid-row-selected:hover {
      td {
        background-color: red !important;
        color: white !important;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .v-grid-cell.frozen {
      border-right: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    .v-grid-tablewrapper {
      border: none;
    }

    .v-grid-horizontal-scrollbar-deco {
      background-image: none;
      border: none;
    }

    .v-grid-scroller-horizontal {
      border: none;
    }
  }

  .gridonetomany.output {
    .v-grid-row:hover, .v-grid-row-selected:hover {
      td {
        background-color: inherit;
        color: inherit;
        font-weight: inherit;
        cursor: inherit;
      }
    }
  }

  .conbotonera {
    margin-bottom: 15px;
  }

  .v-caption {
    padding-bottom: 1px;
  }

  .v-slot-sectionactionbar {
    border-top: 1px dashed lightgrey;
    border-bottom: 1px dashed lightgrey;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .v-slot-sectionkpiscontainer {
    border-top: 1px dashed lightgrey;
    border-bottom: 1px dashed lightgrey;
    padding-top: 2px;
    padding-bottom: 2px;

    .kpi {
      margin-bottom: inherit;
      height: inherit;

      .valor {
        font-size: inherit;
      }
    }

    .kpi.sectionkpi {
      min-height: inherit;
    }
  }

  .v-grid-row-selected  > .v-grid-cell {
    background-color: #e61a1a !important;
    background-image: none;
    color: #eec9c9 !important;
  }

  .cockpitgrid {
    .v-grid-column-header-content {
      text-align: center;
    }
    .v-grid-cell.dato {

    }
    .v-grid-cell.clickable:hover {
      cursor: pointer;
      font-weight: bolder;
    }
  }

}


@media print {

  .horizontallayout > .v-expand  {
    padding-left: 0px !important;
  }

  .v-slot-leftside {
    display: none;
  }


}