<configuration>


    <appender name="Console-Appender" class="ch.qos.Logback.core.ConsoleAppender">
        <layout>
            <pattern>%msg%n</pattern>
        </layout>
    </appender>


    <!--
    <logger name="guru.springframework.blog.Logbackxml" level="info">
        <appender-ref ref="File-Appender"/>
    </logger>
    -->
    <root level="info">
        <appender-ref ref="Console-Appender"/>
    </root>

</configuration>