@font-face {
    font-family: "Kyn";
    src:  url(/VAADIN/Kyn-Regular.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Kyn";
    src:  url(/VAADIN/Kyn-Semibold.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Kyn";
    src:  url(/VAADIN/Kyn-Bold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    --font-family: 'Courier';
}

