@font-face {
    font-family: "Kyn";
    src:  url(/VAADIN/Kyn-Regular.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Kyn";
    src:  url(/VAADIN/Kyn-Semibold.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Kyn";
    src:  url(/VAADIN/Kyn-Bold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

body .mateu.v-app {
    font-family: "Kyn";
    color: #501e96;
}

body .mateu.v-app .v-button.quiet.primary {
    background-color: #501e96;
    color: white;
}

body .mateu .maincomponent .v-button.quiet.primary:hover {
    background-color: white;
    border: 1px solid #501e96;
    color: #501e96;
}

.section {
    color: black;
}

/*
nuevo
 */

body .mateu .v-menubar > .v-menubar-menuitem {
    font-size: 16px;
}

body .mateu .maincomponent .contenido.container {
    max-width: 1184px;
}

body .mateu .maincomponent .viewHeader .viewTitle {
    font-size: 2rem;
    line-height: 1.25;
    color: rgba(0,0,0,.85);
}

body .mateu .maincomponent .viewHeader .v-slot-viewSubtitle {
    font-size: 1.25rem;
    color: rgba(0,0,0,.85);
}

body .mateu .maincomponent .viewHeader .viewSubtitle {
    height: 80px;
}

body .mateu .maincomponent .contenido .section .v-slot-fieldgroupheader {
    padding: 24px;
    color: rgb(48,18,84);
}

body .mateu .maincomponent .contenido .section .v-slot-fieldgroupheader .v-label-h4 {
    font-size: 22px;
    font-weight: 600;
    text-transform: inherit;
}

body .mateu .maincomponent input, .mateu .maincomponent .v-datefield, .mateu .maincomponent .v-datefield-textfield,
body .mateu .maincomponent .v-filterselect,
body .mateu .maincomponent .v-filterselect-input,
body .mateu .maincomponent .v-filterselect-button,
body .mateu .maincomponent .v-textarea {
    color: #301254;
    background-color: white;
    border: 1px solid #ada5b6;
}

body .mateu .v-grid-cell {
    height: 60px;
    line-height: 60px;
}

body .mateu .maincomponent .gridresultado .v-grid-header .v-grid-row th {
    color: #6e5987;
    font-size: 16px;
    font-weight: 600;

}

body .mateu .maincomponent .gridresultado .v-grid-row > td {
    color: #301254;
}


body .mateu .maincomponent .gridresultado .v-grid-row-stripe > td {
    background-color: white;
}

body .mateu .maincomponent .gridresultado .v-grid-row:hover td,
body .mateu .maincomponent .gridresultado .v-grid-row-selected:hover td {
    background-color: rgb(250,250,250) !important;
    color: unset !important;
    font-weight: inherit !important;
}

body .mateu .v-link {
    color: rgb(80, 30, 160);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

body .mateu .maincomponent .mateu-footers.container {
    max-width: 1184px;
}



body .mateu .maincomponent .contenido .section {
    box-shadow: 0 2px 4px rgba(48,18,84,.04),0 4px 8px rgba(48,18,84,.04),0 4px 12px rgba(48,18,84,.02);;
    margin-bottom: 80px;
}

body .mateu .v-menubar > .v-menubar-menuitem.selected {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
}


body .mateu .maincomponent .contenido .fieldgroup.nofieldgroupheader {
    padding-top: 20px;
}

body .mateu .maincomponent .contenido .section .v-slot-fieldgroupheader .v-label-h4.countlabel {
    font-size: 16px;
    font-weight: 200;
}
