@font-face {
    font-family: "Open Sans";
    src:  url(/VAADIN/Kyn-Regular.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src:  url(/VAADIN/Kyn-Semibold.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src:  url(/VAADIN/Kyn-Bold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

body .v-app.mateu.myuiui {
    background-color: #f9f8fa;
}

body .mateu .maincomponent .mateu-headers.container {
    max-width: none;
    box-shadow: 0 1px 0 0 #e9e6ed;
    z-index: 3;
}

body .mateu .maincomponent .v-slot-mateu-headers {
    /* border-bottom: 1px solid slategrey; */
    background-color: white;
    box-shadow: 0 1px 3px rgb(51 55 66 / 6%), 0 2px 6px rgb(51 55 66 / 2%);
}

body .mateu .maincomponent .v-slot-mateu-headers:after {
    box-sizing: border-box;
}

body .mateu .maincomponent .mateu-header {
    background-color: white;
    height: 80px;
}

body .mateu .maincomponent .mateu-header * {
    color: #501e96;
}

body .mateu .maincomponent .mateu-header .v-menubar, .mateu .maincomponent .mateu-header .v-button {
    margin-top: unset;
}


body .mateu .maincomponent .v-slot-contenido {
    margin-top: 49px;
    margin-bottom: 49px;
    min-height: calc(100vh - 260px);
}

body .mateu .maincomponent .v-slot-contenido .actionsbar {
    border-top: unset;
    border-bottom: unset;
}

body .mateu .maincomponent .v-slot-contenido .filterscomponent {
    border-top: unset;
    border-bottom: unset;
    width: 100%;
}


body .mateu .maincomponent .contenido .section {
    background-color: white;
    box-shadow: 0 1px 3px rgb(51 55 66 / 6%), 0 2px 6px rgb(51 55 66 / 2%);
    border-radius: 8px;
    padding-bottom: 20px;
}

body .mateu .maincomponent .contenido .section .fieldgroup {
    padding-bottom: 30px;
}

body .mateu .maincomponent .contenido .section .fieldgroup > * {
    padding-left: 20px;
    padding-right: 20px;
}

body .mateu .maincomponent .contenido .section .fieldgroup > .v-spacing {
    height: 20px;
}

body .mateu .maincomponent .contenido .section .fieldgroup .v-caption-on-top .v-caption-caption-on-left {
    display: inline-block;
}

body .mateu .maincomponent .contenido .section .fieldgroup .v-caption-on-top .caption-on-left {
    width: unset;
    position: absolute;
    right: 0;
}

body .mateu .maincomponent .contenido .section .fieldgroup .v-slot-caption-on-left {
    border-bottom: 1px solid whitesmoke;
}


body .mateu .maincomponent .contenido .section .v-slot-fieldgroupheader {
    border-bottom: 1px solid lightgray;
}

body .mateu .maincomponent .contenido .section .fieldgroupheader, body .mateu .maincomponent .contenido .section .countlabel {
    font-size: 16px;
    font-weight: 900;
}


body .mateu .maincomponent .contenido .section .v-grid-cell .v-nativebutton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body .mateu .maincomponent .contenido .section .v-grid-cell .v-nativebutton:hover {
    color: whitesmoke;
}


body .mateu .maincomponent .v-slot-mateu-footers {
    box-shadow: 0 1px 3px rgb(51 55 66 / 6%), 0 2px 6px rgb(51 55 66 / 2%);
    background-color: white;
    width:100%;
    height:80px;
}

body .mateu .maincomponent .mateu-footers.container {
    display: inline-block;
}

body .mateu .maincomponent .mateu-footer a, body .mateu .maincomponent .mateu-footer .v-label {
    background-color: white;
    padding: 10px;
}

body .mateu .maincomponent .mateu-footer .footer {
    max-width: 1400px;
}


body .mateu .maincomponent .viewTitle {
    --font-size: 1.5rem;
    --line-height: 1.3333333333;
    font-weight: 700;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: rgba(0,0,0,.85);
}




body .mateu .v-ui .v-loading-indicator {
    position: fixed; /* Occupy whole screen even if scrolled */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Eat mouse events when visible, doesn't prevent scrolling */
    pointer-events: auto;
    /* Animated with delay to prevent flashing */
    animation: fadein 0.3s ease-out 0.2s normal 1 both;
    z-index: 2147483647;
    height: 100%;
    width: 100% !important;
}
@keyframes fadein {
    0% {
        background: rgba(0,0,0,0);
    }
    100% {
        background: rgba(0,0,0,.5); /* Darkens the UI */
    }
}

body .mateu .v-ui .v-loading-indicator[style*="none"] {
    height: 0px;
}



.spinner,
.spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.spinner {

    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);

    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


