oj-c-radioset:not(.oj-complete) {
  visibility: hidden;
}

oj-c-radioset {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
}

oj-c-radioset.in-form-layout {
  display: block;
  max-width: 100%;
  width: 100%;
}

oj-c-radioset[hidden] {
  display: none;
}