
@mixin views {

  .contenedorviews {
    width: 100%;

    .viewcontainer {
      background-color: white;
      padding: 0px;
      margin: 0px;

      .viewcomponent {

        width: 100%;

        .title {
          font-size: 30px;
        }

        .filterscomponent .contentcontainer * {
          margin-right: 10px;
          margin-bottom: 5px;
        }

        .resultscomponent {
          padding: 0px;
          margin: 0px;
        }

      }

      .viewcomponent.editorviewcomponent, .viewcomponent.searchinmenucomponent, .viewcomponent.showmenucomponent {

        height: 100%;

        .v-slot-contentcontainer {
          overflow: auto;
          height: 100%;

          .contentcontainer {
            padding: 0px;

            .listaopcionesmenu {
              padding: 0px;

              .submenu {
                padding: 0px;

                .contenedorsubmenu {
                  padding: 0 0 0 5px;

                  .accionsubmenu {
                    padding: 0px;
                  }
                }

              }

            }

          }

        }

      }

    }

  }

}