oj-c-input-sensitive-text:not(.oj-complete) {
  visibility: hidden;
}

oj-c-input-sensitive-text {
  display: inline-block;
  max-width: 100%;
  width: 100%;
}

oj-c-input-sensitive-text.in-form-layout {
  display: block;
}

oj-c-input-sensitive-text[hidden] {
  display: none;
}