@mixin botones {

  .actionsbar {
    padding: 0px;
    padding-top: 2px !important;
    width: 100%;
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;


    div {
      margin-bottom: 2px;
      margin-right: 6px;
    }

  }


  .formactionsbar {
    //margin-left: 32px;
    .v-button.quiet {
      visibility: unset;
      margin-right: 5px;
    }
  }


  .sectionactionbar {
    margin: 5px;
  }



  .v-button.quiet {
    border: none;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    background-color: #d8d8d8;
  }

  .v-button.quiet:hover {
    background-color: #b3b3b3;
  }

  .v-button.quiet:focus:after {
    box-shadow: none;
  }


  .v-button.v-button-link {
    height: unset;
    padding: unset;
  }

  .v-button.v-button-link.v-pressed {
    outline: none;
  }

  .v-button.v-button-link:active {
    outline: none;
  }

  .v-button.v-button-link:focus {
    outline: none;
  }


  .v-button.quiet {
    background-color: #d8d8d8;
  }

  .v-button.quiet:hover {
    background-color: #b3b3b3;
  }











  .v-button.quiet.primary {
    background-color: hsl(171, 100%, 41%);
    color: white;
  }

  .v-button.quiet.primary:hover {
    background-color: hsl(171, 100%, 31%);
  }

  .v-button.quiet.danger {
    background-color: hsl(348, 100%, 61%);
    color: white;
  }

  .v-button.quiet.danger:hover {
    background-color: hsl(171, 100%, 51%);
  }



}