@mixin general {

  .v-widget {
    .nopadding {
      padding: 0px;
    }

    .littlepadding {
      padding: 10px;
    }

    .labelconlink {
      margin-top: 7px;
    }

    .botondeicono {
      padding: 0px;
      height: inherit;
      opacity: 1;
    }
  }


  .alinearderecha {
    text-align: right;
    width: 100%;
  }

  .alinearcentro {
    text-align: center;
  }

  .v-textarea {
    resize: auto;
  }

  .v-slot .v-slot-hidden {
    height: 0px !important;
  }

  .hidden {
    display: none;
  }


  .clickable {
    cursor: pointer;
    border: 1px solid transparent;
  }

  .clickable:hover {
    border: 1px solid #484860;
  }




  input, .v-datefield, .v-datefield-textfield, .v-filterselect, .v-filterselect-input, .v-filterselect-button, .v-textarea {
    color: #301254;
    background-color: white;
    border: 1px solid #ada5b6;
  }














  .negativo {
    color: red !important;
  }


  .mdd-bold {
    font-weight: bold !important;
  }

  .mdd-bolder {
    font-weight: bold !important;
  }

  .mdd-seagreen-bgd {
    background-color: seagreen !important;
  }

  .mdd-green-bgd {
    background-color: green !important;
  }

  .mdd-softgreen-bgd {
    background-color: #a0c5a0 !important;
  }

  .mdd-softred-bgd {
    background-color: #dea7a3 !important;
  }

  .mdd-softyellow-bgd {
    background-color: #ffffcc !important;
  }

  .mdd-orange-bgd {
    background-color: orange !important;
  }

  .mdd-red-bgd {
    background-color: red !important;
  }

  .mdd-yellow-bgd {
    background-color: yellow !important;
  }

  .mdd-brown-bgd {
    background-color: brown !important;
  }

  .mdd-grey-bgd {
    background-color: grey !important;
  }

  .mdd-lightgrey-bgd {
    background-color: lightgrey !important;
  }

  .mdd-aliceblue-bgd {
    background-color: aliceblue !important;
  }

  .mdd-lightsteelblue-bgd {
    background-color: lightsteelblue !important;
  }

  .mdd-white-bgd {
    background-color: white !important;
  }

  .mdd-blue-bgd {
    background-color: blue !important;
  }


  .mdd-seagreen-fgd {
    color: seagreen !important;
  }

  .mdd-green-fgd {
    color: green !important;
  }

  .mdd-orange-fgd {
    color: orange !important;
  }

  .mdd-red-fgd {
    color: red !important;
  }

  .mdd-yellow-fgd {
    color: yellow !important;
  }

  .mdd-brown-fgd {
    color: brown !important;
  }

  .mdd-grey-fgd {
    color: grey !important;
  }

  .mdd-white-fgd {
    color: white !important;
  }

  .mdd-blue-fgd {
    color: blue !important;
  }





  .statusLabel {
    margin-bottom: 10px;
  }

  td {
    .statusLabel {
      margin-bottom: unset;
    }
  }

  .statusLabel.NONE {
    color: unset;
  }

  .statusLabel.INFO {
    color: lightskyblue !important;
  }

  .statusLabel.SUCCESS {
    color: green !important;
  }

  .statusLabel.WARNING {
    color: orange !important;
  }

  .statusLabel.DANGER {
    color: red !important;
  }








  .huge-submenuoption {
    border: 1px solid lightgrey;
    margin: 20px;
    padding: 20px;
    border-radius: 2px;
    min-width: 130px;
    text-align: center;
    cursor: pointer;
  }

  .huge-submenuoption:hover {
    background-color: #efefef;
  }


  .chip {
    background-color: lightgray;
    border-radius: 1.5em;
    padding-left: 1em;
    margin: 1px;
    margin-right: 4px;

    .v-label {
      padding-top: 4px;
    }

    .v-button {
      border-radius: 1.5em;
      width: 2em;
      padding-left: 8px;
      height: 2em;
      padding-top: 3px;
    }

  }

  .v-link {
    color: rgb(80, 30, 160);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
  }
}
