@mixin header {

  .mateu-headers.container {
    max-width: none;
    box-shadow: 0 1px 0 0 #e9e6ed;
    z-index: 3;
  }

  .v-slot-mateu-headers {
    /* border-bottom: 1px solid slategrey; */
    background-color: white;

    box-shadow: 0 1px 3px rgba(51, 55, 66, 6%), 0 2px 6px rgba(51, 55, 66, 2%);
  }

  .v-slot-mateu-headers:after {
    box-sizing: border-box;
  }

  .mateu-header {

    padding: 5px;
    background-color: #664b5f;
    padding-left: 10px;

    background-color: white;
    height: 80px;

    * {
      color: white;
    }


    .iconoarea {
      padding-top: 6px;
      font-size: 15px;
      padding-right: 4px;
    }

    .appname {
      margin-top: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5em;
    }


    .menusearcher {
      border-radius: 15px;
      height: 22px;
      margin-top: 8px;

      input {
        color: #474747;
        background-color: white;
      }

      .v-filterselect-button {
        background-color: white;
        color: #474747;
        margin-right: 4px;
      }
    }

    .v-menubar, .v-button {
      margin-top: 3px;
    }

    * {
      color: #501e96;
    }

    .v-menubar, .v-button {
      margin-top: unset;
    }

    .v-menubar > .v-menubar-menuitem.selected {
      font-weight: 600;
      font-size: 18px;
      text-decoration: underline;
    }

    .v-menubar > .v-menubar-menuitem.v-menubar-menuitem-selected {
      background-color: #3c3c3c;
      color: white;
      background-image: unset;
    }
  }

  .fondomenu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
  }

  .v-slot-mateu-footers {
    box-shadow: 0 1px 3px rgba(51, 55, 66, 6%), 0 2px 6px rgba(51, 55, 66, 2%);
    background-color: white;
    width:100%;
    height:80px;
  }

  .mateu-footers.container {
    display: inline-block;
    max-width: 1184px;
  }

  .mateu-footer a, .mateu-footer .v-label {
    background-color: white;
    color: unset;
    padding: 10px;
  }

  .mateu-footer .footer {
    max-width: 1400px;
  }


}
