@mixin header {
  .mateu-header {
    padding: 5px;
    background-color: #664b5f;
    padding-left: 10px;

    * {
      color: white;
    }


    .iconoarea {
      padding-top: 6px;
      font-size: 15px;
      padding-right: 4px;
    }

    .appname {
      margin-top: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5em;
    }

    .v-menubar, .v-button {
      margin-top: 3px;
    }

  }

  .mateu-header.container {
    max-width: 990px;
    display: block;
    margin: 0 auto;
  }
}