@mixin header {
  .mateu-header {
    padding: 5px;
    background-color: #664b5f;
    padding-left: 10px;

    * {
      color: white;
    }

    .appname {
      margin-top: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5em;
    }

    .v-menubar, .v-button {
      margin-top: 3px;
    }

  }
}