:root {

  --lumo-font-family: "Oracle Sans", -apple-system, "system-ui", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --lumo-font-size-m: 16px;
  --lumo-line-height-s: 20px;
  --lumo-body-text-color: rgb(22, 21, 19);
  --lumo-base-color: rgb(251, 249, 248);
  --lumo-contrast-5pct: rgb(251, 249, 248);
  --lumo-primary-text-color: rgb(22, 21, 19);
  --vaadin-button-border: 1px solid rgb(22, 21, 19);
  --vaadin-button-border-radius: 4px;
  --lumo-button-size: 44px;
  --lumo-clickable-cursor: pointer;
  --lumo-size-m: 3.25rem;

  --vaadin-input-field-border-color: rgb(22, 21, 19);
  --vaadin-input-field-border-width: 1px;
  --vaadin-input-field-background: #fff;

  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0);
  display: block;

  margin: 0;


  font-family: "Oracle Sans", -apple-system, "system-ui", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(22, 21, 19);
  font-variant-numeric: tabular-nums;
  line-height: 20px;
  text-size-adjust: 100%;
  unicode-bidi: isolate;

  background-image:
          url(../public/images/background-shell-netsuite-start.png),
          url(../public/images/background-shell-netsuite-end.png),
          linear-gradient(rgb(44, 82, 102) 0px, rgb(44, 82, 102) 0px, rgb(241, 239, 237) 0px),
          linear-gradient(rgb(102, 44, 56) 0px, rgb(102, 44, 56) 0px)
;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position:
          left bottom,
          right bottom,
          top,
bottom;
  background-size:
          auto auto,
          auto auto,
          auto 100px,
          auto 100px;
}


@media (prefers-color-scheme: light) {
  :root {
  }
}
